pre {
  background-color: #333333;
  color: #cccccc;
}
.cursor {
  color: #333333;
  background-color: #cccccc;
}

#logDiv {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 200px;
  overflow-y: auto;
  font-family: monospace;
  background-color: #f9f9f9;
}
